.wrapper {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 530px;
  margin: 265px 0 265px 311px;
}

.container2 {
  width: 900px;
  height: 900px;
  background-image: url(aseds/Blurs.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hi {
  font-size: 18px;
  line-height: 24px;
}

.userName {
  font-size: 62px;
  line-height: 81px;
  color: #e5e9f0;
}
.deloveper {
  font-size: 32px;
  line-height: 42px;
  color: #4d5bce;
  margin-bottom: 80px;
}

.p1 {
  font-size: 16px;
  line-height: 21px;
  color: #607b96;
}
.const {
  color: #4d5bce;
}
.githubLink {
  color: #43d9ad;
}
.div {
  display: flex;
  flex-flow: column wrap;
}
h1 {
  height: 81px;
  width: 521px;
  color: #e5e9f0;
  font-weight: 400;
  font-size: 62px;
  line-height: 81px;
}
.p1 {
  height: 24px;

  font-size: 18px;
  line-height: 24px;
  color: #e5e9f0;
}
.p2 {
  font-size: 32px;
  line-height: 42px;
  color: #4d5bce;
  width: 403px;
  height: 42px;
  margin-bottom: 80px;
}
.p3 {
  font-size: 16px;
  line-height: 21px;
  color: #607b96;
}
.p4 {
  font-size: 16px;
  line-height: 21px;
  color: #4d5bce;
}

.snake {
  margin: 190px 0 0 190px;
  width: 500px;
  height: 500px;
}
