.div{
  display: flex;
  flex-flow: column wrap;
}
h1 {
  height: 81px;
  width: 521px;
  color: #e5e9f0;
  font-weight: 400;
  font-size: 62px;
  line-height: 81px;
}
.p1 {
  height: 24px;
  width: 130px;
  font-size: 18px;
  line-height: 24px;
  color: #e5e9f0;
}
.p2 {
  font-size: 32px;
  line-height: 42px;
  color: #4d5bce;
  width: 403px;
  height: 42px;
}
.p3 {
  font-size: 16px;
line-height: 21px;
color: #607B96;
}
.p4 {
  font-size: 16px;
line-height: 21px;
color: #4D5BCE;
}
