.card_tetris_game {
  background-image: url(../card_project_img/tetris_game_img.png),
    url(../card_project_img/black-background_img.png);
  display: block;
  width: 370.35px;
  height: 314.82px;
  background-repeat: no-repeat, no-repeat;
  background-position: top, center;
}
.icon_react {
  height: 28px;
  width: 28px;
  left: 325px;
  top: 19px;
  border-radius: 0px;
  padding: 19px 170.35px 267.82px 325px;
}
