.div {
  margin-left: 91px;
  height: 21px;
  width: 106px;
  left: 22px;
  top: 15px;
  border-right: 1px solid #1e2d3d;
  color: #607b96;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 50px;
}
