.button {
  background: #1c2b3a;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 10px;
}
.button__txt {
  width: 101px;
  height: 18px;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  text-align: right;

  color: #ffffff;
}
