* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
} 

 .buton_control_down {
  width: 49.08px;
  height: 28.69px;
  background: #010c15;
  border: 1px solid #1e2d3d;
  border-radius: 8px; 
 } 
 .pointer_down {
  width: 8.5px;
  height: 6px;
}