* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.active {
  display: block;
  height: 100%;
  width: 100%;
  color: rgb(250, 242, 246);
  border-bottom: 2px solid orange;

}

.not_active {
  display: block;
  height: 100%;
  padding: 16px 32px;
  width: 100%;

}